# ===== FORMBAR CONFIGURATION =====
# FORMBAR_ADDRESS=https://formbeta.yorktechapps.com

# Formbar Public Key
# PUBLIC_KEY=' you get this from /certs on formbar'

# System PIN for refunds/transfers
PIN=put-your-pin-here


# ===== SPOTIFY CONFIGURATION =====
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret

# Refresh Token for Spotify OAuth
SPOTIFY_REFRESH_TOKEN=your-spotify-refresh-token

# Spotify API Scopes
SPOTIFY_SCOPES=user-read-playback-state user-modify-playback-state user-read-currently-playing playlist-read-private playlist-read-collaborative playlist-modify-private playlist-modify-public user-read-private user-read-email