# ===== FORMBAR CONFIGURATION =====
# FORMBAR_ADDRESS=https://formbeta.yorktechapps.com

# Formbar Public Key
# PUBLIC_KEY=' you get this from /certs on formbar'

# System PIN for refunds/transfers
PIN=put-your-pin-here


# ===== SPOTIFY CONFIGURATION =====
SPOTIFY_CLIENT_ID=44e71d3b55ce4fcf9be4c07de6baf697
SPOTIFY_CLIENT_SECRET=943ffee7fde644f7a2b5e5a6f2f6eb6b

# Refresh Token for Spotify OAuth
SPOTIFY_REFRESH_TOKEN=AQCyM9vuLbfDx4Ez1Y2wn37jR1NxG9f25XdJMDhFYpdmUPBqrTBGu1V3i2uYzttVgbo1nZRfFEzFUcCNCeAeLc7MLfY5h-_al8ttNXHcKT1lUJOs5DAcSi_L_Gc6bIgCfpg

# Spotify API Scopes
SPOTIFY_SCOPES=user-read-playback-state user-modify-playback-state user-read-currently-playing playlist-read-private playlist-read-collaborative playlist-modify-private playlist-modify-public user-read-private user-read-email