<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
</head>

<body>

    <body>
        <div class="container">
            <div class="card">
                <h1>Welcome, {{ user }}!</h1>

                {% if session.token %}
                <h3>Token Info:</h3>
                <pre>
    Username: {{ session.token.username }}
    Display Name: {{ session.token.displayName }}
    digipogs: {{ session.token.digipogs }}
    verified: {{ session.token.verified }}
                    </pre>
                {% else %}
                <p>No token found in session.</p>
                {% endif %}
            </div>
        </div>
    </body>
    <button onclick="play()">play</button>
</body>
<script>
    let digipogs = 100;
    let URI = "spotify:track:4PTG3Z6ehGkBFwjybzWkR8"

    function play() {
    
    }
</script>
</html>